# Series y Dataframes en Pandas

In [2]:
import pandas as pd

In [5]:
psg_players = pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi', 'Ronaldo'],
          index=[1, 7, 10, 30, 14])
print(psg_players)

1       Navas
7      Mbappe
10     Neymar
30      Messi
14    Ronaldo
dtype: object

In [8]:
# Si no se define el index Pandas lo crea con una secuencia de 0 a n-1
pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi', 'Ronaldo'])

0      Navas
1     Mbappe
2     Neymar
3      Messi
4    Ronaldo
dtype: object

In [9]:
# Otra forma de crear una serie con un diccionario de valores
dict = {1: 'Navas', 7: 'Mbappe', 10: 'Neymar', 30: 'Messi', 14: 'Ronaldo'}
pd.Series(dict)

1       Navas
7      Mbappe
10     Neymar
30      Messi
14    Ronaldo
dtype: object

In [12]:
# Acceder a un valor
psg_players[1]

'Navas'

In [14]:
# Slicing de una serie
psg_players[1:3]

7     Mbappe
10    Neymar
dtype: object

In [16]:
# Creamos una serie con una lista de valores
dict = {'Jugador':['Navas', 'Mbappe', 'Neymar', 'Messi', 'Ronaldo'],
 'Altura':[1.85, 1.75, 1.78, 1.75, 1.92],
 'Goles':[0, 200, 200, 200, 100]}

In [18]:
# Generamos una serie con los datos del diccionario sin index
pd.DataFrame(dict)

   Jugador  Altura  Goles
0    Navas    1.85      0
1   Mbappe    1.75    200
2   Neymar    1.78    200
3    Messi    1.75    200
4  Ronaldo    1.92    100

In [21]:
# Generamos una serie con los datos del diccionario con index
pd.DataFrame(dict, index=[1, 7, 10, 30, 14])

    Jugador  Altura  Goles
1     Navas    1.85      0
7    Mbappe    1.75    200
10   Neymar    1.78    200
30    Messi    1.75    200
14  Ronaldo    1.92    100

In [22]:
df_players = pd.DataFrame(dict)

In [24]:
# Ingresmos a las columnas de un dataframe
df_players.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [26]:
# Ingresmos a las filas de un dataframe
df_players.index

RangeIndex(start=0, stop=5, step=1)

## Uso de DataFrame()

In [30]:
df_players = pd.DataFrame(dict, index=[1, 7, 10, 30, 14])

In [32]:
# Indices a nivel de columnas
df_players.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')

In [34]:
# Indices a nivel de filas
df_players.index

Int64Index([1, 7, 10, 30, 14], dtype='int64')

## Jugando con DataFrames

In [46]:
players = {'Jugador':['Luis Suárez','Jorge Molina', 'Antonio Puertas', 'Germán Sánchez', 'Luis Milla', 'Luís Manuel Arantes Maximiano']}
position = {'Posición':['Delantero', 'Delantero', 'Centrocampista', 'Defensa', 'Centrocampista', 'Portero']}
number = {'Número':[9, 23, 10, 6, 5, 1]}
height = {'Altura':[185.0, 187.0, 185.0, 187.0, 175.0, 190.0]}
goals = {'Goles':[7, 7, 5, 2, 2, 0]}

# Unimos los diccionarios en una sola serie
granada_fc = {**players, **position, **number, **height, **goals}
granada_fc

granada_fc = pd.DataFrame(granada_fc)
granada_fc

                         Jugador        Posición  Número  Altura  Goles
0                    Luis Suárez       Delantero       9   185.0      7
1                   Jorge Molina       Delantero      23   187.0      7
2                Antonio Puertas  Centrocampista      10   185.0      5
3                 Germán Sánchez         Defensa       6   187.0      2
4                     Luis Milla  Centrocampista       5   175.0      2
5  Luís Manuel Arantes Maximiano         Portero       1   190.0      0